body {
  color: #212121;
  background: #e5e5e5;
}
.list {
  list-style: none;
}

/* основной цвет текста         черный цвет текста ссылок хедера заголовков        #212121; */
/* дополнительный цвет текста   черный-сеерый цвет текста телефона, текста секций  #757575; */
/* голубой цвет текста ссылок, емейла при наведении #2196F3; */
/* белый текст h1 и активные кнопки  #FFFFFF; */
/* серый-с прозрачностью цвет текста в адресе rgba(255, 255, 255, 0.6); */

/* белый фон хедера background: #FFFFFF; */
/* фон героя, футера background: #2F303A; */
/* голубой фон кнопки background: #2196F3; */
/* серый фон секции наша команда и кнопок фильтров секции портфолио background: #F5F4FA; */
/* основной цвет фона     белый фон секции чем мы занимаемся и страницы портфолио background: #E5E5E5; */

.logo {
  color: #2196f3;
}

/* Навигация сайта */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Навигация авторизации */
.auth-nav .link {
  color: #757575;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}

/* ФУТЕР */
.footer {
  background-color: #2f303a;
}

.post-address {
  color: #ffffff;
}
.post-address:hover,
.post-address:focus {
  color: #2196f3;
}

.mail-address {
  color: rgba(255, 255, 255, 0.6);
}
.tel-address {
  color: rgba(255, 255, 255, 0.6);
}

.mail-address:hover,
.mail-address:focus {
  color: #2196f3;
}

.tel-address:hover,
.tel-address:focus {
  color: #2196f3;
}
